<div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3"
        style="color: white; text-shadow: 4px 4px 4px black !important;  font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif;">
          <i class="fas fa-sign-in-alt"
           ></i>Einloggen</h1>
          <%- include("./partials/messages") %>
      
          <form action="/users/login" method="POST">
            <div class="form-group">
              <label for="email" style="color: white;">E-Mail Adresse</label>
              <input
                type="email" 
                id="email"
                name="email" 
                class="form-control"
                placeholder="Tippen Sie bitte Ihre E-Mail Adresse ein!"
              />
            </div>
            <div class="form-group">
              <label for="password" style="color: white;" >Passwort</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Tippen Sie bitte Ihr Passwort ein!"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Einloggen</button>
          </form>
          <p class="lead mt-4">
            Kein Konto? <a href="/users/register" style="text-decoration: none;">Registrieren</a>
          </p>
        </div>
      </div>
    </div>
    <style>
    body {
      font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif;
    }
    .card{
          border-radius: 10px 10px;
          background-color: #2196f3;
        }
        p{
          color: white;
        }
        a{
          color: black;
        }
        a:hover {
          color: white !important;
        }
  </style>